body {
    padding: 30px;
    /* border: 10px dotted; */
    max-width: 900px;
    margin: auto;
    background: whitesmoke;
    line-height: 2;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/* HEADER */
a {
    padding: 10px;
    text-decoration: none;
}
nav {
    border-top: 3px solid;
    border-bottom: 3px solid;
}
img {
    max-width: 700px;
    width: auto;
    margin: 30px;
}
h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
}
h2{
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    margin-top: 30px;
}

/* TESTIMONIALS  */
.testimonials {
    float: left;
    width: 30%;
    margin: 10px;
}
#testimonials {
    content: ' ';
    display: table;
    clear: both;
    padding: 10px;
}


/* SHOP */
#shop ul {
    display:inline-block;
    
}
#shop img {
    max-height: 200px;
    padding: 10px;
    margin: 10px;
}
#shop img:hover {
    opacity: .5;
    cursor: pointer;
}
#shop {
    margin: 60px;
    font-size: 20px;
    font-weight: 300;
}
#shop .stock{
    color: white;
    background: red;
    font-weight: bold;
}
#shop .stock:hover {
    opacity: .5;
    cursor: pointer;
}

/* LOCATION */
ul {
    display: inline-block;
    padding: 10px;  
}
.location-name {
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
}
#locations {
    padding-top: 30px;
    padding-bottom: 60px;
}

/* CONTACT */
#contact div {
    float: left;
    padding-top: 30px;
}
#family-photo {
    width: 400px;
    margin: 0px;
    padding: 0px 30px 20px 0px;
}
#contact p {
    width: 400px;
    float: right;
}

/* FOOTER */
.small {
    width: 20px;
}
footer {
    clear: both;
    background: rgb(175, 175, 175);
}


/* SALES PAGE  */
form {
    border: 3px solid;
    font-size: 15px;
    padding: 30px;
}
 
fieldset:not(:last-child) {
    column-count: 2;
}

th {
    border-bottom: 3px solid;
    border-top: 3px solid;
    padding: 5px;
    background: rgb(199, 199, 199)
}

td:last-child, th:last-child {
    border-left: 3px solid;
}

td:first-child{
    font-size: 10px;    
}

button {
    border: none;
    padding: 10px 20px;
    background: grey;
}
button:hover {
    opacity: .5;
    cursor: pointer;
}

